.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.container :global(.inner-circle) {
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  transition: var(--timing-fast) stroke-dashoffset var(--ease-out);
  stroke: none;
  stroke-dasharray: var(--length);
  stroke-dashoffset: var(--length);
}

.circle {
  stroke: var(--color-text-25);
  fill: transparent;
}
