.footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-top: var(--border-1);
  padding: var(--spacing-9) var(--spacing-5) var(--spacing-5);
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
