.header {
  padding: var(--gap-row) 0 var(--gap-row-xl);
}

.header > h1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  text-transform: uppercase;
  font-size: var(--font-size-giant);
}

.header > h1,
.header > a {
  color: var(--color-text);
}

.header span:nth-of-type(3) {
  color: var(--color-brand);
}
