.header {
  padding: var(--spacing-10) var(--spacing-5);
}

.header h1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  text-transform: uppercase;
  font-size: 3rem;
}

.header h1,
.header a {
  color: var(--color-text);
}

.header span:nth-of-type(3) {
  color: var(--color-brand);
}
