.container {
  --length: 139;
  position: absolute;
  top: 0;
  left: 0;
  width: var(--size);
  height: var(--size);
}

.circle {
  stroke: hsla(var(--color-text-raw), 0.15);
  stroke-width: 2;
  fill: transparent;
}

:global(.innerCircle) {
  stroke: var(--color-text);
  stroke-dasharray: var(--length);
  stroke-dashoffset: var(--length);
  transition: var(--timing-fast) stroke-dashoffset var(--ease-out);
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

@media (prefers-reduced-motion: reduce) {
  :global(.innerCircle) {
    transition: none;
  }
}
