.circle {
  --size: 40px;
  position: relative;
  height: var(--size);
  width: var(--size);
  min-height: var(--size);
  min-width: var(--size);
  padding: 0;
  margin: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  background-color: transparent;
  border: 2px solid var(--color-text);
  transition: var(--timing-fast) opacity var(--ease-out-quad);
}

.circle > svg {
  height: 80%;
  width: 80%;
  fill: var(--color-text);
}
