.button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--size);
  height: var(--size);
  padding: 0;
  margin: 0;
  cursor: pointer;
  border: none;
  overflow: hidden;
  border-radius: 50%;
  background-color: transparent;
  transition: var(--timing-intermediate) opacity var(--ease-inOut);
}

.button[data-visible='false'] {
  opacity: 0;
  pointer-events: none;
}

.button svg:nth-of-type(2) {
  height: 50%;
  width: 50%;
  fill: var(--color-text);
}

.button:focus {
  outline: none;
}

.button:hover :global(.innerCircle),
.button:focus :global(.innerCircle) {
  stroke-dashoffset: 0;
}
