.icon {
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--timing-slow) transform var(--ease-out-back);
}

.sun {
  transform: rotate(45deg);
  transform-origin: 50% 150%;
}

.moon {
  transform: rotate(-45deg);
  transform-origin: 50% 150%;
}

.sun[data-active='true'],
.moon[data-active='true'] {
  transform: rotate(0deg);
}
