.card {
  width: 100%;
  padding: var(--spacing-6);
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: var(--color-background);
  border: 1px solid hsla(var(--color-text-raw) / 25%);
  border-radius: var(--border-radius-1);
  box-shadow: var(--box-shadow-high);
  overflow: hidden;
}

.underline {
  display: inline;
  background: linear-gradient(var(--color-text), var(--color-text)) 0 100%;
  background-repeat: no-repeat;
  background-size: 0 var(--underline-size);
  transition: background-size var(--timing-intermediate);
}

.link {
  --underline-size: 2px;

  display: flex;
  height: 100%;
  text-decoration: none;
  box-shadow: none;
  outline-color: transparent;
  outline-style: solid;
  transition: var(--timing-fast) box-shadow var(--ease-in-out);
}

.link:hover .underline,
.link:focus-visible .underline {
  background-size: 100% var(--underline-size);
}

.link:hover .card,
.link:focus-visible .card,
.link:focus-within .card {
  border-color: var(--color-text);
}

.imageWrapper {
  position: relative;
  width: 30%;
  min-width: 30%;
  height: 100%;
  background-color: transparent;
  border-radius: var(--border-radius-1);
  transition: var(--timing-fast) background-color var(--ease-in-out);
  overflow: hidden;
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image:nth-of-type(2) {
  mix-blend-mode: multiply;
}

.card header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  padding-left: var(--spacing-6);
}

.title {
  align-self: flex-start;
}
