.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-6) var(--spacing-12);
}

.form h3 {
  margin: 0 0 var(--spacing-6) 0;
}

.form input {
  width: 100%;
  margin: 0 0 var(--spacing-6) 0;
  padding: var(--spacing-2);
  border-radius: var(--border-radius-1);
  border: 1px solid var(--color-text);
  text-align: center;
}

.form button {
  padding: var(--spacing-4) var(--spacing-12);
  border-radius: var(--border-radius-1);
  border: none;
  cursor: pointer;
  font-weight: var(--fontWeight-bold);
  color: var(--color-white);
  background: linear-gradient(30deg, var(--gradientA), var(--gradientB));
}

.form small {
  padding-top: var(--spacing-6);
  font-size: var(font-size-0);
  font-weight: var(--fontWeight-medium);
}
