.drawer {
  position: fixed;
  width: auto;
  z-index: var(--z-front);
  top: 0;
  bottom: 0;
  left: 0;
  border-right: 2px solid hsla(var(--color-text-raw) / 25%);
  transform: translateX(-100%);
  transition: var(--timing-fast) transform var(--ease-in-out);
  overflow: hidden; /* For Safari iOS  */
  -webkit-overflow-scrolling: touch;
}

@media screen and (min-width: 800px) {
  .drawer {
    left: var(--fixed-element-width);
    transform: translateX(calc(-100% + 1px));
  }
}

@media (prefers-reduced-motion: reduce) {
  .drawer {
    transition: none;
  }
}

.drawer[data-open='true'] {
  transform: translateX(0);
}
