.header {
  position: fixed;
  top: 0;
  left: var(--fixed-element-width);
  overflow: hidden; /* For Safari iOS  */
  -webkit-overflow-scrolling: touch;
}

@media screen and (min-width: 800px) {
  .header {
    bottom: 0;
    border-right: 1px solid;
    width: var(--non-fixed-element-width);
    transform: translateX(-100%);
    transition: var(--timing-intermediate) transform var(--ease-out-quart);
  }

  :global(.home) .header {
    transform: translateX(0);
    transition-delay: var(--timing-fastest);
  }
}

.nav {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav h1 {
  margin: var(--spacing-0);
}

.list {
  list-style: none;
  margin: auto 0;
  padding: 0;
}
