.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--spacing-3);
  background-color: var(--color-background);
  border-bottom: 1px solid;
  z-index: var(--z-front);
  overflow: hidden; /* For Safari iOS  */
  -webkit-overflow-scrolling: touch;
}

@media screen and (min-width: 800px) {
  .nav {
    width: var(--fixed-element-width);
    right: unset;
    bottom: 0;
    border-bottom: none;
    border-right: 1px solid;
    padding: var(--spacing-6) var(--spacing-3);
  }
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 800px) {
  .list {
    flex-direction: column;
    justify-content: flex-start;
  }
}

@media screen and (min-width: 800px) {
  .list li {
    padding-bottom: var(--spacing-6);
  }
}
