.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--spacing-1);
  background-color: var(--color-background);
  border-bottom: 1px solid;
  z-index: var(--z-fixed);
  overflow: hidden; /* For Safari iOS  */
  -webkit-overflow-scrolling: touch;
}

@media screen and (min-width: 800px) {
  .nav {
    width: var(--fixed-element-width);
    right: unset;
    bottom: 0;
    border-bottom: none;
    padding: var(--spacing-6) var(--spacing-3);
  }
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 800px) {
  .list {
    flex-direction: column;
    justify-content: flex-start;
  }
}

.list > li:first-child {
  display: none;
}

@media screen and (min-width: 800px) {
  .list li {
    padding-bottom: var(--spacing-6);
  }

  .list > li:first-child {
    display: unset;
  }

  .list > li:last-child {
    display: none;
  }
}

.subMenu {
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 var(--fixed-element-width);
  background-color: var(--color-background);
}

@media screen and (min-width: 800px) {
  .subMenu {
    padding: 0 var(--fixed-element-width) 0 var(--spacing-3);
  }
}

.subMenuItem {
  padding-bottom: var(--spacing-3);
  opacity: 0;
  visibility: hidden;
  transition: var(--timing-fast) opacity var(--ease-in-out),
    var(--timing-instant) visibility;
  transition-delay: 1s;
}

*[data-open='true'] .subMenuItem {
  visibility: visible;
  opacity: 1;
}

*[data-open='true'] .subMenuItem:nth-child(1) {
  transition-delay: calc(var(--timing-fast) * 0.75);
}

*[data-open='true'] .subMenuItem:nth-child(2) {
  transition-delay: calc(var(--timing-fast) * 0.85);
}

*[data-open='true'] .subMenuItem:nth-child(3) {
  transition-delay: calc(var(--timing-fast) * 0.95);
}

*[data-open='true'] .subMenuItem:nth-child(4) {
  transition-delay: calc(var(--timing-fast) * 1.05);
}

*[data-open='true'] .subMenuItem:nth-child(5) {
  transition-delay: calc(var(--timing-fast) * 1.15);
}

*[data-open='true'] .subMenuItem:nth-child(6) {
  transition-delay: calc(var(--timing-fast) * 1.25);
}
