.main {
  position: relative;
  width: 90vw;
  margin: 0 auto;
  background-color: var(--color-background);
  z-index: 0;
}

@media screen and (min-width: 800px) {
  .main {
    width: 80vw;
    max-width: 1200px; /* TODO */
  }
}
