.main {
  position: relative;
  overflow-x: hidden;
  padding-top: var(--fixed-element-width);
}

@media screen and (min-width: 800px) {
  .main {
    padding: 0 var(--fixed-element-width);
  }
}

.main[data-path='\/about'],
.main[data-path='\/subscribe'],
.main[data-path='\/privacy'] {
  width: 100%;
  max-width: min(90%, var(--max-width-read));
  margin: var(--spacing-8) auto;
  padding: 0;
}

.main[data-path='\/about'] h1,
.main[data-path='\/subscribe'] h1,
.main[data-path='\/privacy'] h1 {
  text-align: center;
  margin-bottom: var(--spacing-8);
}
