.main {
  position: relative;
  overflow-x: hidden; /* TODO - this might cause issues */
  margin: var(--fixed-element-width) 0;
}

@media screen and (min-width: 800px) {
  .main {
    margin: 0 var(--fixed-element-width);
  }

  :global(.home) .main {
    margin-left: calc(var(--non-fixed-element-width) + var(--fixed-element-width));
  }
}
