.frame {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: -11px 7px 25px 3px rgb(38 38 38 / 50%) inset; /* TODO: brand? */
  background: var(--color-light);
  min-height: 100%;
  aspect-ratio: 1/1;
}

.image {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius-1);
  box-shadow: -22px 14px 50px 3px rgb(38 38 38 / 50%); /* TODO: brand? */
  background-color: var(--color-background);
  width: 70%;
  height: 70%;
  overflow: hidden;
}
