.section {
  margin: 0 auto;
  width: 100%;
  max-width: var(--max-width-wide);
}

.list {
  --column-count: 1;

  display: grid;
  grid-template-columns: repeat(var(--column-count), minmax(0, 1fr));
  grid-auto-rows: 1fr;
  row-gap: var(--gap-row-xl);
  column-gap: var(--gap-column);
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (min-width: 640px) {
  .list {
    --column-count: 2;
  }
}

@media (min-width: 1024px) {
  .list {
    --column-count: 3;

    column-gap: var(--gap-row-xl);
  }
}
