.underline {
  --underline-size: 2px;

  display: inline;
  transition: background-size var(--timing-fast);
  background: linear-gradient(var(--color-text), var(--color-text)) 0 100%;
  background-repeat: no-repeat;
  background-size: 0 var(--underline-size);
}

.link {
  display: flex;
  outline-style: solid;
  outline-color: transparent;
  height: 100%;
  text-decoration: none;
}

.link:hover .underline,
.link:focus-visible .underline {
  background-size: 100% var(--underline-size);
}

.article {
  display: flex;
  flex-direction: column;
  gap: var(--gap-text);
}

.header {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: var(--gap-text);
}

.meta {
  display: flex;
  justify-content: space-between;
  font-size: var(--font-size-0);
}

.title {
  line-height: var(--line-height-heading);
}

.title > h2 {
  font-size: var(--font-size-3);
  font-weight: var(--font-weight-bold);
}

.header p {
  display: -webkit-box;
  margin: auto 0 0;
  overflow: hidden;
  font-size: var(--font-size-1);
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
