/* TODO - consolidate with other underline styles */
.underline {
  --underline-size: 2px;

  display: inline;
  transition: background-size var(--timing-fast);
  background: linear-gradient(var(--color-text), var(--color-text)) 0 100%;
  background-repeat: no-repeat;
  background-size: 0 var(--underline-size);
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: flex-start;
  outline-style: solid;
  outline-color: transparent;
  padding: var(--gap-text) 0;
  height: 100%;
  text-decoration: none;
}

.container:hover .underline,
.container:focus-visible .underline {
  background-size: 100% var(--underline-size);
}

.year {
  position: relative;
  padding: var(--gap-text) 0;
  text-align: center;
}

.year::before {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translateY(-50%);
  z-index: var(--z-back);
  background-color: var(--color-text-25);
  width: 100%;
  height: 1px;
  content: '';
}

.year > span {
  position: relative;
  background-color: var(--color-background);
  padding: 0 var(--gap-text);
}

.date {
  white-space: nowrap;
  font-weight: var(--font-weight-bold);
}

.title {
  flex-grow: 1;
  margin-left: var(--gap-column);
}

.title > h3 {
  font-size: var(--font-size-2);
}

.button {
  display: none;
}

@media (width >= 768px) {
  .button {
    /* display: block; */
  }
}
