.container {
  position: absolute;
  top: var(--spacing-5);
  right: var(--spacing-5);
}

.input {
  border: none;
  border-radius: var(--border-radius-1);
  background-color: transparent;
  padding: var(--spacing-3) var(--spacing-5);
  color: var(--color-text);
  font-size: var(--font-size-1);
}

.input::placeholder {
  color: var(--color-text);
}
