.tooltip {
  display: none;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, calc(-1 * var(--spacing-7)));
  opacity: 0;
  z-index: var(--z-front);
  border: var(--border-1);
  border-radius: var(--border-radius-1);
  background-color: var(--color-background);
  padding: var(--spacing-2) var(--spacing-3);
  line-height: 1;
  white-space: nowrap;
  color: var(--color-text);
  font-size: var(--font-size-0);
  pointer-events: none;
}

@media screen and (min-width: 768px) {
  .tooltip {
    display: unset;
  }
}

:global(.tooltip-anchor):hover .tooltip,
:global(.tooltip-anchor):focus .tooltip {
  transition: var(--timing-faster) opacity var(--ease-in-out);
  transition-delay: var(--timing-fast);
  opacity: 1;
}
