.container {
  display: flex;
  flex-direction: column;
  border-radius: var(--border-radius-1);
  background: var(--color-background);
  width: 50vw;
  max-height: 80vh;
  overflow-y: auto;
}

.title {
  margin: 0;
  border-top: var(--border-thin);
  border-bottom: var(--border-thin);
  padding: var(--gap-text);
  font-size: var(--font-size-2);
}

.list {
  margin: 0;
  padding: var(--gap-text);
  list-style: none;
}

.item {
  display: flex;
  align-items: center;
  padding: var(--gap-mini) 0;
}

.command {
  flex-grow: 1;
}

.kbd {
  border-radius: var(--border-radius-1);
  background: var(--color-text);
  padding: var(--gap-mini) var(--gap-text);
  color: var(--color-background);
  font-size: var(--font-size-1);
  font-weight: var(--font-weight-bold);
}

.kbd:first-of-type {
  margin-right: var(--gap-mini);
}

.kbd:last-of-type {
  margin-left: var(--gap-mini);
}

.search {
  margin: 0;
  border: none;
  background: transparent;
  padding: 24px var(--gap-text);
  color: var(--color-text);
  font-size: var(--font-size-1);
}

.search:focus {
  outline: none;
}
