.list {
  list-style: none;
  margin: 0;
  height: 80vh;
  display: grid;
  grid-auto-columns: auto;
  grid-auto-flow: column;
  align-items: center;
  column-gap: var(--spacing-16);
  margin-top: 10vh;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

@media (min-width: 800px) {
  .list {
    grid-auto-columns: minmax(3rem, 30vw);
  }
}

.item {
  height: 50vh;
  max-height: 600px;
  grid-column: span 6;
  scroll-snap-align: center;
}

.item:last-child {
  padding-right: var(--spacing-12);
}

.list::-webkit-scrollbar {
  height: 0;
  width: 0;
}

/* .list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 40vh;
  grid-auto-rows: 1fr;
  gap: var(--spacing-12);
  padding: 0 var(--spacing-8);
  margin: 10vh auto;
}

@media (min-width: 800px) {
  .list {
    max-width: 1800px;
    grid-template-columns: 1fr 1fr;
    padding: 0 var(--spacing-12);
  }
}

.item {
  grid-column: span 1;
  scroll-snap-align: center;
}

.item:first-child {
  grid-column: span 1;
} */
