.list {
  list-style: none;
  display: grid;
  grid-auto-columns: minmax(4rem, auto);
  grid-auto-flow: column;
  grid-auto-rows: 1fr;
  column-gap: var(--spacing-24);
  padding: var(--spacing-32) var(--spacing-12);
  padding-right: 0;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

@media (min-width: 800px) {
  .list {
    grid-auto-columns: minmax(5rem, 30vw);
  }
}

.list > li {
  max-width: 90vw;
  scroll-snap-align: center;
}

.list > li:last-child {
  /* Safari ignores the parent padding */
  padding-right: var(--spacing-12);
}

/* .list::-webkit-scrollbar {
  height: 0.333rem;
  width: 15px;
}

.list::-webkit-scrollbar-thumb {
  background: rgb(63, 62, 62);
  border-radius: 1rem;
}

.list::-webkit-scrollbar-track {
  background: rgb(12, 12, 12);
}

.list:focus-within::-webkit-scrollbar-thumb,
.list:focus-within::-webkit-scrollbar-track,
.list:hover::-webkit-scrollbar-thumb,
.list:hover::-webkit-scrollbar-track {
} */
