.container {
  position: absolute;
  padding: var(--spacing-6) var(--spacing-12);
  width: 100%;
  z-index: 1;
}

.container h1 {
  font-size: var(--fontSize-3);
  margin: 0;
}

.list {
  width: 100%;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.list li {
  display: flex;
  flex-grow: 0;
  align-items: center;
  padding-right: var(--spacing-6);
}

.list li:first-of-type {
  flex-grow: 1;
}

.list li:last-of-type {
  padding-right: 0;
}
