.container {
  min-height: 5rem;
  padding: var(--spacing-6) var(--spacing-12);
}

.container h1 {
  /* TODO: remove this */
  margin: 0;
}

.list {
  display: grid;
  grid-template-columns: repeat(12, [start] 1fr);
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.list li {
  grid-column: span 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list li:first-of-type {
  grid-column: start / span 10;
  justify-content: flex-start;
}
