.container {
  width: 100%;
  padding: var(--spacing-6);
}

.mainTitle {
  margin: 0;
  word-spacing: 100vw;
}

.container ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-gap: 10px;
  justify-content: center;
  align-items: start;
}

.container li {
  display: grid;
  justify-content: center;
  align-items: center;
}

@media (min-width: 600px) {
  .container ul {
    grid-template-columns: 1fr repeat(3, fit-content(50px));
    grid-gap: 20px;
    justify-items: end;
  }
}

@media (min-width: 600px) {
  .container ul {
    grid-template-columns: 1fr repeat(3, fit-content(50px));
    grid-gap: 20px;
    justify-items: end;
  }
}

.fullWidth {
  grid-column: 1 / 4;
}

@media (min-width: 600px) {
  .fullWidth {
    grid-column: 1 / 2;
    justify-self: start;
  }
}
