.loader {
  --path: hsla(var(--color-text-raw) / 15%);
  --dot: var(--color-text);
  --timing: 1800ms;
  --size: 44px;

  width: var(--size);
  height: var(--size);
  position: relative;
  display: inline-block;
}

.loader::before {
  content: '';
  width: 6px;
  height: 6px;
  border-radius: 50%;
  position: absolute;
  display: block;
  background: var(--dot);
  top: 37px;
  left: 19px;
  transform: translate(-18px, -18px);
  animation: var(--timing) dot-rect var(--ease-in-out) reverse infinite;
}

.loader svg {
  display: block;
  width: 100%;
  height: 100%;
}

.loader rect {
  fill: none;
  stroke: var(--path);
  stroke-width: 10px;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-dasharray: calc(256 / 4 * 3) calc(256 / 4) calc(256 / 4 * 3) calc(256 / 4);
  stroke-dashoffset: 0;
  animation: var(--timing) path-rect var(--ease-in-out) reverse infinite;
}

@keyframes path-rect {
  25% {
    stroke-dashoffset: 64;
  }

  50% {
    stroke-dashoffset: 128;
  }

  75% {
    stroke-dashoffset: 192;
  }

  100% {
    stroke-dashoffset: 256;
  }
}

@keyframes dot-rect {
  25% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(18px, -18px);
  }

  75% {
    transform: translate(0, -36px);
  }

  100% {
    transform: translate(-18px, -18px);
  }
}
