.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: var(--spacing-8) auto;
  max-width: min(90%, var(--max-width-read));
}

.wrapper h1 {
  text-align: center;
}

.wrapper a:not(:global(.underline)) {
  outline: none;
  text-decoration: none;
  border-bottom: 2px solid hsla(var(--color-text-raw) / 25%);
  transition: var(--timing-faster) border-color var(--ease-out);
}

.wrapper a:not(:global(.underline)):hover,
.wrapper a:not(:global(.underline)):focus {
  border-color: var(--color-text);
}

@media (prefers-reduced-motion: reduce) {
  .wrapper a:not(:global(.underline)) {
    transition: none;
  }
}
