.link {
  --underline-size: 2px;

  position: relative;
  display: flex;
  height: 100%;
  text-decoration: none;
  box-shadow: none;
  outline-color: transparent;
  outline-style: solid;
  border: 2px solid var(--focus);
  border-radius: var(--border-radius-1);
  transition: var(--timing-fast) box-shadow var(--ease-in-out-quad);
}

/* trigger the underline animation */
.link:hover .underline,
.link:focus-visible .underline {
  background-size: 100% var(--underline-size);
}

/* hide the image gradient overlay */
.link:hover .image::after,
.link:focus-visible .image::after {
  opacity: 0;
}

/* rotate the gradient card out of view */
.link:hover .card::before,
.link:focus-visible .card::before {
  transform: rotate(0deg) scale(1);
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: var(--border-radius-1);
  background-color: var(--color-background);
  box-shadow: var(--box-shadow-small);
  transition: var(--timing-intermediate) color var(--ease-in-out-quad),
    var(--timing-intermediate) background-color var(--ease-in-out-quad);
}

@media (min-width: 600px) {
  .card {
    flex-direction: row;
  }
}

.card header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  padding: var(--spacing-6);
}

.imageWrapper {
  position: relative;
  align-self: center;
  width: 100%;
  height: 100%;
  padding: var(--spacing-6) var(--spacing-6) 0 var(--spacing-6);
}

@media (min-width: 600px) {
  .imageWrapper {
    height: 100%;
    width: 45%;
    min-width: 45%;
    align-self: flex-start;
    padding: var(--spacing-6);
  }
}

.card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: rotate(-5deg) scale(1.03);
  background: linear-gradient(to right, var(--gradientA), var(--gradientB));
  transition: transform var(--timing-intermediate) var(--ease-out-back);
  border-radius: var(--border-radius-1);
  box-shadow: var(--box-shadow-small);
  z-index: var(--z-back);
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--border-radius-1);
  overflow: hidden;
  box-shadow: var(--box-shadow-small);
}

.image::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.45;
  background: linear-gradient(to right, var(--gradientA), var(--gradientB));
  transition: opacity var(--timing-fast) var(--ease-in-out-quad);
}

.underline {
  display: inline;
  background: linear-gradient(var(--color-text), var(--color-text)) 0 100%;
  background-repeat: no-repeat;
  background-size: 0 var(--underline-size);
  transition: background-size var(--timing-slow);
}
