.list {
  grid-column: span 4 / span 4;
}

.list a {
  display: block;
  height: 100%;
  color: inherit;
  text-decoration: none;
}

.list a:focus-visible {
  outline-color: transparent;
  outline-style: solid; /* hide the default outline in Edge */
  box-shadow: 0 0 0 5px var(--color-background), 0 0 0 7px var(--focus-ring);
  transition: var(--timing-fast) box-shadow var(--ease-bounce);
  border-radius: 1rem;
}

.card {
  --color-text: var(--color-white);
  --shape-passive: polygon(100% 0, 100% 50%, 100% 100%, 0% 100%, 0 50%, 0% 0%);
  --shape-active: polygon(20% 0, 60% 50%, 20% 100%, 0% 100%, 40% 50%, 0% 0%);

  position: relative;
  color: var(--color-text);
  height: 100%;
  display: flex;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px; /* TODO HSL color */
  transform: translateZ(0); /* safari bug */
}

.card:hover .imageWrapper {
  clip-path: var(--shape-active);
}

.card header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  padding: var(--spacing-6);
}

.card header h2 {
  padding-right: var(--spacing-3);
}

.readTime {
  justify-self: end;
  align-self: flex-end;
}

.imageWrapper {
  width: 25%;
  min-width: 25%;
  max-width: 25%;
  overflow: hidden;
  background-color: transparent;
  clip-path: var(--shape-passive);
  transition: var(--timing-fast) clip-path var(--ease-in-out-quad);
}
