.header {
  position: relative;
  width: 100%;
  max-width: var(--maxWidth-4xl);
  padding: 0 var(--spacing-12);
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: clamp(1rem, 80vh, 35rem);
  grid-gap: var(--spacing-24);
  overflow: hidden;
}

@media screen and (min-width: 800px) {
  .header {
    padding: var(--spacing-24);
    grid-template-columns: 1fr 1fr;
  }
}

.content {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  text-align: right;
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: 80%;
  margin: auto;
  border-radius: var(--border-radius-1);
  box-shadow: var(--box-shadow-large);
  background-image: linear-gradient(to right, var(--gradientA), var(--gradientB));
}

@media screen and (min-width: 800px) {
  .imageWrapper {
    width: 100%;
    height: 100%;
  }
}

.imageWrapper::before {
  --offset: 0.5rem;
  content: '';
  position: absolute;
  top: calc(-1 * var(--offset));
  left: calc(-1 * var(--offset));
  border-radius: var(--border-radius-1);
  width: calc(100% + 2 * var(--offset));
  height: calc(100% + 2 * var(--offset));
  background: linear-gradient(to right, var(--gradientA), var(--gradientB));
  box-shadow: var(--box-shadow-small);
  z-index: var(--z-back);
  transform: rotate(8deg);
}

/* TODO - image border radius || maybe some cool header design instead */

.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image:nth-of-type(2) {
  mix-blend-mode: multiply;
}
