.container {
  width: 100%;
  max-width: var(--maxWidth-4xl);
  margin: 0 auto;
  padding: var(--spacing-24) var(--spacing-12);
}

.list {
  list-style: none;
  padding: var(--spacing-12) 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: var(--spacing-12);
}

@media screen and (min-width: 800px) {
  .list {
    padding: 0;
    grid-template-columns: 1fr 1fr;
  }
}

.list p {
  text-align: center;
  padding-bottom: var(--spacing-12);
}
