.article {
  position: relative;
  margin: 0 auto;
  width: min(90%, var(--max-width-read));
  font-size: var(--font-size-2);
}

.article img {
  border-radius: var(--border-radius-1);
}

.article a:not(:global(.underline)) {
  outline: none;
  text-decoration: none;
  border-bottom: 2px solid hsla(var(--color-text-raw) / 25%);
  transition: var(--timing-faster) border-color var(--ease-out);
}

.article a:not(:global(.underline)):hover,
.article a:not(:global(.underline)):focus {
  border-color: var(--color-text);
}

@media (prefers-reduced-motion: reduce) {
  .article a:not(:global(.underline)) {
    transition: none;
  }
}
