.aside {
  --bar-size: 2px;

  position: fixed;
  left: 0;
  bottom: 0;
  opacity: 0;
  transition: var(--timing-fast) opacity var(--ease-in-out);
}

@media (min-width: 800px) {
  .aside {
    top: 33.3vh;
    left: calc(var(--fixed-element-width) / 2 - var(--bar-size));
    z-index: var(--z-fixed);
  }
}

.progressTrack {
  position: relative;
  width: 100vw;
  height: var(--bar-size);
  background-color: hsla(var(--color-text-raw) / 20%);
}

@media (min-width: 800px) {
  .progressTrack {
    width: var(--bar-size);
    height: 60vh;
  }
}

.progressBar {
  --progress: 0;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--bar-size);
  background-color: var(--color-text);
  transition: var(--timing-fastest) transform linear;
  transform: scaleX(var(--progress));
  -webkit-transform: scaleX(var(--progress));
  transform-origin: left;
}

@media (min-width: 800px) {
  .progressBar {
    width: var(--bar-size);
    height: 100%;
    transform: scaleY(var(--progress));
    -webkit-transform: scaleY(var(--progress));
    transform-origin: top;
  }
}

.visible {
  opacity: 1;
}
