.aside {
  --barSize: 3px;

  position: fixed;
  left: 0;
  top: 66px;
  opacity: 0;
  transition: var(--timing-fast) opacity var(--ease-inOut);
}

@media (min-width: 800px) {
  .aside {
    left: 15vw;
    top: 20vh;
  }
}

.progressTrack {
  position: relative;
  width: 100vw;
  height: var(--barSize);
  background-color: hsla(var(--color-text-raw), 0.2);
}

@media (min-width: 800px) {
  .progressTrack {
    width: var(--barSize);
    height: 60vh;
  }
}

.progressBar {
  --progress: 0;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--barSize);
  background-image: linear-gradient(to bottom, var(--gradientA), var(--gradientB));
  transition: var(--timing-fastest) transform linear;
  transform: scaleX(var(--progress));
  -webkit-transform: scaleX(var(--progress));
  transform-origin: left;
}

@media (min-width: 800px) {
  .progressBar {
    width: var(--barSize);
    height: 100%;
    transform: scaleY(var(--progress));
    -webkit-transform: scaleY(var(--progress));
    transform-origin: top;
  }
}

.visible {
  opacity: 1;
}
