.fixed {
  position: fixed;
  bottom: var(--spacing-6);
  right: var(--spacing-6);
  z-index: var(--z-front);
  opacity: 1;
  transition: var(--timing-fast) opacity var(--ease-in-out-quad);
}

.hidden {
  opacity: 0;
}

.button {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--color-text);
  cursor: pointer;
}

.button:active .icon {
  background-color: var(--color-text);
}

.icon {
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s background-color ease;
}
