.tag {
  border: var(--border-2);
  border-radius: 1rem;
  cursor: pointer;
  padding: var(--spacing-1) var(--spacing-5);

  /* text-transform: uppercase; */
  font-size: var(--font-size-1);
  font-weight: var(--font-weight-bold);
}

.tag:focus-within,
.tag:hover {
  outline: none;
  border-color: var(--color-text);
}

.tag[data-checked='true'] {
  border-color: var(--color-brand);
  background-color: var(--color-brand);
  color: var(--color-dark);
}

.tag[data-disabled='true'] {
  opacity: 0.33;
  border-color: transparent;
  background-color: var(--color-text-50);
  cursor: not-allowed;
  color: var(--color-light);
}
