:root {
  /* Base HSL color values */

  --light-h: 0deg;
  --light-s: 5%;
  --light-l: 97%;
  --dark-h: 0deg;
  --dark-s: 0%;
  --dark-l: 19%;

  /* Fixed colors (same regardless of theme setting) */
  --color-light: hsl(var(--light-h) var(--light-s) var(--light-l));
  --color-dark: hsl(var(--dark-h) var(--dark-s) var(--dark-l));
  --color-light-raw: var(--light-h) var(--light-s) var(--light-l);
  --color-dark-raw: var(--dark-h) var(--dark-s) var(--dark-l);

  /* Light theme */
  --color-text: var(--color-dark);
  --color-background: var(--color-light);
  --color-text-raw: var(--color-dark-raw);
  --color-background-raw: var(--color-light-raw);
}

:root.dark {
  /* Dark theme */
  --color-text: var(--color-light);
  --color-background: var(--color-dark);
  --color-text-raw: var(--color-light-raw);
  --color-background-raw: var(--color-dark-raw);
}
