:root {
  /* Width limiters */
  --max-width-1: 512px;
  --max-width-2: 672px;
  --max-width-3: 896px;
  --max-width-read: 608px;
  --max-width-full: '100%';

  /* Padding & margin gaps */
  --spacing-0: 0;
  --spacing-1: 1px;
  --spacing-2: 4px;
  --spacing-3: 8px;
  --spacing-4: 10px;
  --spacing-5: 16px;
  --spacing-6: 24px;
  --spacing-7: 32px;
  --spacing-8: 48px;
  --spacing-9: 64px;
  --spacing-10: 80px;
  --spacing-11: 96px;
  --spacing-12: 120px;
  --spacing-13: 160px;
  --spacing-14: 200px;
  --spacing-15: 240px;

  /* Border radii */
  --border-radius-0: 4px;
  --border-radius-1: 8px;
  --border-radius-2: 16px;
  --border-radius-3: 24px;

  /* Z-indices */
  --z-fixed: 3;
  --z-front: 2;
  --z-middle: 1;
  --z-back: -1;

  /* Fixed UI element sizes */
  --fixed-element-width: 4.5rem;

  /* Box shadows */
  --box-shadow-1: 0 4px 2px -4px hsla(0deg 0% 0% / 20%);
  --box-shadow-2: 0 8px 4px -4px hsla(0deg 0% 0% / 20%);
  --box-shadow-3: 0 16px 8px -4px hsla(0deg 0% 0% / 20%);
  --box-shadow-4: 0 24px 16px -4px hsla(0deg 0% 0% / 20%);
  --box-shadow-5: 0 32px 24px -4px hsla(0deg 0% 0% / 20%);
}
