:root {
  --font-family-serif: 'Merriweather', 'Cambria', 'Times New Roman', 'serif';
  --font-family-sans: 'Lato', 'Lucida Grande', 'Tahoma', 'Sans-Serif';
  --font-heading: var(--font-family-serif);
  --font-body: var(--font-family-sans);
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --line-height-root: 1.75;
  --line-height-heading: 1.35;
  --font-size-0: 14px;
  --font-size-1: 100%;
  --font-size-2: 18px;
  --font-size-3: 24px;
  --font-size-x: 28px;
  --font-size-4: 32px;
  --font-size-5: 48px;
  --font-size-6: 64px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-heading);
  letter-spacing: 0.033em;
  margin-top: var(--spacing-6);
  margin-bottom: var(--spacing-6);
}

h1 {
  font-size: clamp(var(--font-size-4), 1vw + 1.25rem, var(--font-size-6));
}

h2 {
  font-size: var(--font-size-3);
}

h3 {
  font-size: var(--font-size-3);
}

h4 {
  font-size: var(--font-size-2);
}

h5 {
  font-size: var(--font-size-1);
}

h6 {
  font-size: var(--font-size-1);
}
