.markdown blockquote {
  position: relative;
  margin: 0;
  padding: 3rem 0;
  text-align: center;
}

.markdown blockquote > p {
  font-size: var(--font-size-4);
}

.markdown blockquote::before,
.markdown blockquote::after {
  position: absolute;
  color: var(--color-brand);
  font-size: var(--font-size-6);
}

.markdown blockquote::before {
  top: calc(-1 * var(--spacing-2));
  left: calc(-1 * var(--spacing-2));
  content: '“';
}

.markdown blockquote::after {
  right: calc(-1 * var(--spacing-2));
  bottom: calc(-1 * var(--spacing-2));
  content: '”';
}

.markdown > p:first-of-type::first-letter {
  float: left;
  margin-top: -32px;
  margin-right: 16px;
  border: 2px solid var(--color-brand);
  border-radius: var(--border-radius-0);
  padding: 6px 32px 16px;
  line-height: 1em;
  color: var(--color-brand);
  font-size: 100px;
}

.markdown *::selection {
  background-color: var(--color-brand);
}
