.container {
  display: flex;
  position: relative;
}

.column {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: var(--spacing-10);
  width: 50%;
}

.column:first-of-type {
  padding-right: var(--spacing-10);
}

.column:last-of-type {
  padding-left: var(--spacing-0);
}

.column h1 {
  padding: 0 var(--spacing-10);
}

.dates {
  align-self: flex-end;
  margin-top: auto;
}

.title {
  margin: auto 0;
}
